/* Dashboard.css */
.app {
    min-height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px; /* Adjust spacing as needed */
  }
  
  .mixed-chart,
  .donut {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .donut {
    width: 380px; /* Adjust width as needed */
  }
  
  .chart-title{
    margin-top: 15px;
  font-weight: bold;
  color: #333; /* Dark color for headings */
  }
  