.homeContainer {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.boxedHeading {
  display: inline-block;
  border: 1px solid #007bff;
  background-color: #f0f8ff;
  border-radius: 10px;
  color: #007bff;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  z-index: 99;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideIn 1s ease-in-out;
  padding: 7px;
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  color: #666;
  text-align: center;
  margin-bottom: 30px;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  margin: 20px 0;
}

.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 45%;
}

.uploadCard,
.detectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fileLabel {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.fileInput {
  margin-bottom: 20px;
}

.submitButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  animation: fade 2s infinite;
}

.submitButton:hover {
  background: linear-gradient(#55ce5b, #007bff, #19c422);
}

.imageContainer {
  margin-top: 20px;
}

.uploadedImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.predictionsCard {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.predictions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.predictionCard {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}

.uploadCountCard {
  background-color: #d4edda; /* Light green background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes bounce {
  0%, 40%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
